//HAMBURGER MENU
.hamburger {
    position: absolute;
    top: 1.675rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 999999;
            
    &__span {
        display: block;
        height: 8px;
        width: 50%;
        background: #f4f2f7;
        border-radius: 9px;
        transition: all .3s;
        position: relative;
        height: 4px;
        // width: 28px;
        // margin-bottom: 4px; 
        width: 38px;
        margin-bottom: 6px;
  
    }


    &.active span:nth-child(1) {
        animation: ease .7s top forwards;
    }
      
    &.not-active span:nth-child(1) {
        animation: ease .7s top-2 forwards;
    }
      
    &.active span:nth-child(2) {
        animation: ease .7s scaled forwards;
    }
      
    &.not-active span:nth-child(2) {
        animation: ease .7s scaled-2 forwards;
    }
      
    &.active span:nth-child(3) {
        animation: ease .7s bottom forwards;
    }
      
    &.not-active span:nth-child(3) {
        animation: ease .7s bottom-2 forwards;
    }

    //animated hamburger menu to x
    @keyframes top {
        0% {
            top: 0;
            transform: rotate(0);
        }
        50% {
            top: 9px;
            transform: rotate(0);
        }
        100% {
            top: 9px;
            transform: rotate(45deg);
        }
    }
      
    @keyframes top-2 {
        0% {
          top: 9px;
          transform: rotate(45deg);
        }
        50% {
          top: 9px;
          transform: rotate(0deg);
        }
        100% {
          top: 0;
          transform: rotate(0deg);
        }
    }
      
    @keyframes bottom {
        0% {
          bottom: 0;
          transform: rotate(0);
        }
        50% {
          bottom: 10px;
          transform: rotate(0);
        }
        100% {
          bottom: 10px;
          transform: rotate(135deg);
        }
    }
      
    @keyframes bottom-2 {
        0% {
          bottom: 10px;
          transform: rotate(135deg);
        }
        50% {
          bottom: 10px;
          transform: rotate(0);
        }
        100% {
          bottom: 0;
          transform: rotate(0);
        }
    }
      
    @keyframes scaled {
        50% {
          transform: scale(0);
        }
        100% {
          transform: scale(0);
        }
    }
      
    @keyframes scaled-2 {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
    }
}
